@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=Rubik:ital,wght@1,500&display=swap");
.fz_sm {
  font-size: 1.4rem;
}

.fz_md {
  font-size: 1.6rem;
}

.fz_lr {
  font-size: 2.2rem;
}

.fz_lg {
  font-size: 3rem;
}

.width90 {
  width: 90%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  z-index: 100;
  background-color: #fff;
}

.header__title {
  height: 100%;
  padding: 8px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
}

.header__text {
  font-weight: 600;
}

.menu__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 2px;
  border-left: 1px solid #312f2f;
  border-bottom: 1px solid #312f2f;
  z-index: 100;
}

.menu__button.active span:nth-child(1) {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button.active span:nth-child(2) {
  opacity: 0;
}

.menu__button.active span:nth-child(3) {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__button.active .menu__button--text {
  opacity: 1;
}

.menu__button span {
  position: absolute;
  left: 25%;
  top: 45%;
  width: 50%;
  height: 2px;
  background-color: #312f2f;
}

.menu__button span:nth-child(1) {
  top: 30%;
}

.menu__button span:nth-child(3) {
  top: 60%;
}

.menu__button--text {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #312f2f;
}

.menu__content {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #312f2f;
  padding-top: 100px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__content.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.menu__content ul {
  padding-left: 40px;
}

.menu__content ul li {
  margin-bottom: 32px;
  line-height: 1.5;
}

.menu__content ul li a {
  color: #fff;
}

.menu__content ul li span {
  display: block;
  font-size: 1.5rem;
}

.menu__content ul li span::before {
  content: "-";
}

@-webkit-keyframes imgAnime {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes imgAnime {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

main {
  margin-top: 80px;
  min-height: 300vh;
}

main .hero-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 8px;
}

main .hero-img img {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: imgAnime 1.4s ease-in-out;
          animation: imgAnime 1.4s ease-in-out;
}

main .comment {
  margin-bottom: 32px;
  color: gray;
  opacity: .8;
  padding-left: 8px;
}

main .introduction {
  min-height: 40vh;
  -webkit-box-shadow: 0px 0px 10px rgba(41, 71, 5, 0.8);
          box-shadow: 0px 0px 10px rgba(41, 71, 5, 0.8);
  margin-bottom: 64px;
}

main .introduction__title {
  position: relative;
  padding: 16px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
}

main .introduction__inner ul {
  padding: 24px;
}

main .introduction__inner ul li {
  line-height: 1.5;
  margin-bottom: 24px;
}

main .introduction__inner ul li::before {
  content: "\f1e3";
  font-weight: 400;
  font-family: "Font Awesome 5 Free";
  padding-right: 8px;
}

.team__block {
  padding: 8px;
  padding-top: 80px;
}

.team__block--title {
  color: #312f2f;
  margin-bottom: 16px;
}

.team__block--table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

.team__block--table li {
  list-style: none;
  width: 45%;
  height: 25px;
  border: 1px solid #312f2f;
  text-align: center;
  margin-bottom: 8px;
}

.team__block--table li a {
  position: relative;
  line-height: 25px;
  color: #312f2f;
}

.team__block--table li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 2px;
}

.team__block--table li a.red::after {
  background-color: red;
}

.team__block--table li a.yellow::after {
  background-color: yellow;
}

.team__block--table li a.blue::after {
  background-color: blue;
}

.team__block--table li a.skyblue::after {
  background-color: skyblue;
}

.team__block--table li a.green::after {
  background-color: green;
}

.team__block--table li a.orange::after {
  background-color: orange;
}

.team__block--table li a.pink::after {
  background-color: pink;
}

.team__block--table li a.purple::after {
  background-color: purple;
}

.team__block--table li a.darkblue::after {
  background-color: #2d0080;
}

.team__block--unit {
  padding-top: 70px;
}

.team__block--unit-title {
  position: relative;
  margin-bottom: 8px;
  height: 25px;
}

.team__block--unit-title.red::before {
  background-color: red;
}

.team__block--unit-title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: -8px;
}
/*# sourceMappingURL=style.css.map */