@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=Rubik:ital,wght@1,500&display=swap");
.fz_sm {
  font-size: 1.4rem;
}

.fz_md {
  font-size: 1.5rem;
}

.fz_lr {
  font-size: 2.2rem;
}

.fz_lg {
  font-size: 3rem;
}

.width90 {
  width: 90%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  z-index: 100;
  background-color: #fff;
}

.header__title {
  height: 100%;
  padding: 8px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
}

.header__text {
  font-weight: 600;
}

.menu__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 2px;
  border-left: 1px solid #312f2f;
  border-bottom: 1px solid #312f2f;
  z-index: 100;
}

.menu__button.active span:nth-child(1) {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button.active span:nth-child(2) {
  opacity: 0;
}

.menu__button.active span:nth-child(3) {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__button.active .menu__button--text {
  opacity: 1;
}

.menu__button span {
  position: absolute;
  left: 25%;
  top: 45%;
  width: 50%;
  height: 2px;
  background-color: #312f2f;
}

.menu__button span:nth-child(1) {
  top: 30%;
}

.menu__button span:nth-child(3) {
  top: 60%;
}

.menu__button--text {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #312f2f;
}

.menu__content {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #312f2f;
  padding-top: 100px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__content.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.menu__content ul {
  padding-left: 40px;
}

.menu__content ul li {
  margin-bottom: 32px;
  line-height: 1.5;
}

.menu__content ul li a {
  color: #fff;
}

.menu__content ul li span {
  display: block;
  font-size: 1.5rem;
}

.menu__content ul li span::before {
  content: "-";
}

@-webkit-keyframes imgAnime {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes imgAnime {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

main {
  margin-top: 80px;
  min-height: 300vh;
}

main .hero-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 8px;
}

main .hero-img img {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: imgAnime 1.4s ease-in-out;
          animation: imgAnime 1.4s ease-in-out;
}

main .comment {
  margin-bottom: 32px;
  color: gray;
  opacity: .8;
  padding-left: 8px;
}

main .introduction {
  min-height: 40vh;
  -webkit-box-shadow: 0px 0px 10px rgba(28, 29, 27, 0.8);
          box-shadow: 0px 0px 10px rgba(28, 29, 27, 0.8);
  margin-bottom: 64px;
}

main .introduction__title {
  position: relative;
  padding: 16px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
}

main .introduction__inner ul {
  padding: 24px;
}

main .introduction__inner ul li {
  line-height: 1.5;
  margin-bottom: 24px;
}

main .introduction__inner ul li::before {
  content: "-";
  padding-right: 8px;
}

.team__block {
  padding: 8px;
  padding-top: 80px;
}

.team__block--title {
  color: #312f2f;
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: 2px solid #000;
}

.team__block--table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

.team__block--table li {
  list-style: none;
  width: 45%;
  border: 1px solid #312f2f;
  text-align: center;
  padding: 8px;
  margin-bottom: 16px;
}

.team__block--table li a {
  position: relative;
  color: #312f2f;
}

.team__block--table li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 50px;
  height: 2px;
}

.team__block--table li a.red::after {
  background-color: red;
}

.team__block--table li a.yellow::after {
  background-color: yellow;
}

.team__block--table li a.blue::after {
  background-color: blue;
}

.team__block--table li a.skyblue::after {
  background-color: skyblue;
}

.team__block--table li a.green::after {
  background-color: green;
}

.team__block--table li a.orange::after {
  background-color: orange;
}

.team__block--table li a.pink::after {
  background-color: pink;
}

.team__block--table li a.purple::after {
  background-color: purple;
}

.team__block--table li a.darkblue::after {
  background-color: #2d0080;
}

.team__block--unit {
  padding-top: 70px;
  font-family: "Rubik", "Noto Serif JP", sans-serif;
}

.team__block--unit-title.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.team__block--unit-title.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

.team__block--unit-title.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

.team__block--unit-title.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.team__block--unit-title.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.team__block--unit-title.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.team__block--unit-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.team__block--unit-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}

.team__block--unit-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.team__block--unit-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}

.team__block--unit-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.team__block--unit-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}

.team__block--unit-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.team__block--unit-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.91s;
          animation-delay: 0.91s;
}

.team__block--unit-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
}

.team__block--unit-title.inview .char:nth-child(15) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.team__block--unit-title.inview .char:nth-child(16) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.team__block--unit-title.inview .char:nth-child(17) {
  -webkit-animation-delay: 1.19s;
          animation-delay: 1.19s;
}

.team__block--unit-title.inview .char:nth-child(18) {
  -webkit-animation-delay: 1.26s;
          animation-delay: 1.26s;
}

.team__block--unit-title.inview .char:nth-child(19) {
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}

.team__block--unit-title.inview .char:nth-child(20) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.team__block--unit-title.inview .char:nth-child(21) {
  -webkit-animation-delay: 1.47s;
          animation-delay: 1.47s;
}

.team__block--unit-title.inview .char:nth-child(22) {
  -webkit-animation-delay: 1.54s;
          animation-delay: 1.54s;
}

.team__block--unit-title.inview .char:nth-child(23) {
  -webkit-animation-delay: 1.61s;
          animation-delay: 1.61s;
}

.team__block--unit-title.inview .char:nth-child(24) {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

.team__block--unit-title.inview .char:nth-child(25) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.team__block--unit-title.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.82s;
          animation-delay: 1.82s;
}

.team__block--unit-title.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.89s;
          animation-delay: 1.89s;
}

.team__block--unit-title.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.96s;
          animation-delay: 1.96s;
}

.team__block--unit-title.inview .char:nth-child(29) {
  -webkit-animation-delay: 2.03s;
          animation-delay: 2.03s;
}

.team__block--unit-title.inview .char:nth-child(30) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.team__block--unit-title {
  position: relative;
  margin-bottom: 16px;
  height: 25px;
  opacity: 0;
}

.team__block--unit-title.inview {
  opacity: 1;
}

.team__block--unit-title.inview .char {
  display: inline-block;
  opacity: 1;
}

.team__block--unit-title .char {
  opacity: 0;
}

.team__block--unit-title.red::before {
  background-color: red;
}

.team__block--unit-title.yellow::before {
  background-color: yellow;
}

.team__block--unit-title.blue::before {
  background-color: blue;
}

.team__block--unit-title.skyblue::before {
  background-color: skyblue;
}

.team__block--unit-title.green::before {
  background-color: green;
}

.team__block--unit-title.orange::before {
  background-color: orange;
}

.team__block--unit-title.pink::before {
  background-color: pink;
}

.team__block--unit-title.purple::before {
  background-color: purple;
}

.team__block--unit-title.darkblue::before {
  background-color: #2d0080;
}

.team__block--unit-title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: -8px;
}

.team__block--unit-subtitle {
  font-style: italic;
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 700;
}

.team__block--unit-text p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 8px;
}

.team__block--unit-text p::before {
  content: "-";
  margin-right: 5px;
}

.pickup__block {
  padding: 8px;
  padding-top: 80px;
  min-height: 100vh;
}

.pickup__block--title {
  color: #312f2f;
  margin-bottom: 24px;
  padding: 8px;
  border-bottom: 2px solid #000;
}

.pickup__block--young-title {
  position: relative;
  margin-bottom: 16px;
}

.pickup__block--young-title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: -8px;
  background-color: #db4949;
}

.pickup__block--unit {
  padding: 8px;
}

.pickup__block--unit .youngplayer-name {
  font-weight: 700;
  color: #db4949;
  margin-bottom: 16px;
  opacity: 0;
}

.pickup__block--unit .youngplayer-name.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.91s;
          animation-delay: 0.91s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(15) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(16) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(17) {
  -webkit-animation-delay: 1.19s;
          animation-delay: 1.19s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(18) {
  -webkit-animation-delay: 1.26s;
          animation-delay: 1.26s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(19) {
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(20) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(21) {
  -webkit-animation-delay: 1.47s;
          animation-delay: 1.47s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(22) {
  -webkit-animation-delay: 1.54s;
          animation-delay: 1.54s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(23) {
  -webkit-animation-delay: 1.61s;
          animation-delay: 1.61s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(24) {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(25) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.82s;
          animation-delay: 1.82s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.89s;
          animation-delay: 1.89s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.96s;
          animation-delay: 1.96s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(29) {
  -webkit-animation-delay: 2.03s;
          animation-delay: 2.03s;
}

.pickup__block--unit .youngplayer-name.inview .char:nth-child(30) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.pickup__block--unit .youngplayer-name.inview {
  opacity: 1;
}

.pickup__block--unit .youngplayer-name.inview .char {
  display: inline-block;
  opacity: 1;
}

.pickup__block--unit .youngplayer-name .char {
  opacity: 0;
}

.pickup__block--unit li {
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 1.4rem;
}

.pickup__block--unit li::before {
  content: "-";
  margin-right: 8px;
}

.pickup__block--veteran-title {
  position: relative;
  margin-bottom: 16px;
}

.pickup__block--veteran-title::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 25px;
  position: absolute;
  top: -3px;
  left: -8px;
  background-color: #5849db;
}

.pickup__block--unit {
  padding: 8px;
}

.pickup__block--unit .veteranplayer-name {
  font-weight: 700;
  color: #5849db;
  margin-bottom: 16px;
  opacity: 0;
}

.pickup__block--unit .veteranplayer-name.inview .char {
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.91s;
          animation-delay: 0.91s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.98s;
          animation-delay: 0.98s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(15) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(16) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(17) {
  -webkit-animation-delay: 1.19s;
          animation-delay: 1.19s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(18) {
  -webkit-animation-delay: 1.26s;
          animation-delay: 1.26s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(19) {
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(20) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(21) {
  -webkit-animation-delay: 1.47s;
          animation-delay: 1.47s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(22) {
  -webkit-animation-delay: 1.54s;
          animation-delay: 1.54s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(23) {
  -webkit-animation-delay: 1.61s;
          animation-delay: 1.61s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(24) {
  -webkit-animation-delay: 1.68s;
          animation-delay: 1.68s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(25) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(26) {
  -webkit-animation-delay: 1.82s;
          animation-delay: 1.82s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(27) {
  -webkit-animation-delay: 1.89s;
          animation-delay: 1.89s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(28) {
  -webkit-animation-delay: 1.96s;
          animation-delay: 1.96s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(29) {
  -webkit-animation-delay: 2.03s;
          animation-delay: 2.03s;
}

.pickup__block--unit .veteranplayer-name.inview .char:nth-child(30) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.pickup__block--unit .veteranplayer-name.inview {
  opacity: 1;
}

.pickup__block--unit .veteranplayer-name.inview .char {
  display: inline-block;
  opacity: 1;
}

.pickup__block--unit .veteranplayer-name .char {
  opacity: 0;
}

.pickup__block--unit li {
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 1.4rem;
}

.pickup__block--unit li::before {
  content: "-";
  margin-right: 8px;
}

.enjoy__block {
  padding: 8px;
  padding-top: 80px;
  min-height: 100vh;
}

.enjoy__block--title {
  color: #312f2f;
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: 2px solid #000;
}
/*# sourceMappingURL=style.css.map */